
@{
    ViewBag.Title = "NotificationEmailConfim";
}

<img src="~/Content/Login1/images/EmailCof.jpg" alt="" style="width: 300px; max-width: 600px; height: auto; margin: auto; display: block; />
<p>Please check mail to confirm before you login to system!</p>
