
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Admin Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Admin Page</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="thong-tin-date">
                <div class="container">
                    <script language="JavaScript">
<!--
                        // Store the date In avarlable
                        d = new Time()
                        d = new Date()
                        dateText = ""
                        dateTime = ""
                        dayTime=
                        // Get the cuurent day and convert it to the name of the day
                        dayValue = d.getDay()
                        if (dayValue == 0)
                            dateText += "Chủ Nhật"
                        else if (dayValue == 1)
                            dateText += "Thứ hai"
                        else if (dayValue == 2)
                            dateText += "Thứ Ba"
                        else if (dayValue == 3)
                            dateText += "Thứ Tư"
                        else if (dayValue == 4)
                            dateText += "Thứ Năm"
                        else if (dayValue == 5)
                            dateText += "Thứ Sáu"
                        else if (dayValue == 6)
                            dateText += "Thứ Bảy"
                        // Get the current date; if it's before 2000,add 1900
                        dateText += ", ngày " + d.getDate()
                        monthValue = d.getMonth()
                        dateText += " "
                        if (monthValue == 0)
                            dateText += "tháng 1"
                        if (monthValue == 1)
                            dateText += "tháng 2"
                        if (monthValue == 2)
                            dateText += "tháng 3"
                        if (monthValue == 3)
                            dateText += "tháng 4­"
                        if (monthValue == 4)
                            dateText += "tháng 5"
                        if (monthValue == 5)
                            dateText += "tháng 6"
                        if (monthValue == 6)
                            dateText += "tháng 7"
                        if (monthValue == 7)
                            dateText += "tháng 8"
                        if (monthValue == 8)
                            dateText += "tháng 9"
                        if (monthValue == 9)
                            dateText += "tháng 10"
                        if (monthValue == 10)
                            dateText += "tháng 11"
                        if (monthValue == 11)
                            dateText += "tháng 12"
                        // Get the current year; if it's before 2000, add 1900
                        if (d.getYear() < 2000)
                            dateText += " năm " + (1900 + d.getYear())
                        else
                            dateText += " năm " + (d.getYear())
                        // Get the current minutes
                        minuteValue = d.getMinutes()
                        if (minuteValue < 10)
                            minuteValue = "0" + minuteValue
                        // Get the current hours
                        hourValue = d.getHours()
                        // Customize the greeting based on the current hours
                        if (hourValue >= 5 && hourValue <= 10) {

                            timeText = ". Chào buổi sáng và chúc bạn một ngày tốt lành!"
                        }
                        else if (hourValue > 10 && hourValue <= 12) {

                            timeText = ". Chào mừng bạn, buổi trưa bình an bạn nhé!"
                        }
                        else if (hourValue >= 13 && hourValue < 17) {

                            timeText = ". Chào mừng bạn, chúc bạn một buổi chiều vui vẻ!"
                        }
                        else if (hourValue >= 17 && hourValue < 18) {
                            timeText = ". Chào mừng bạn, chúc bạn một buổi chiều vui vẻ!"
                        }
                        else if (hourValue >= 18 && hourValue < 21) {

                            timeText = ". Chào mừng bạn, buổi tối vui vẻ nhé!"
                        }
                        else if (hourValue >= 21 && hourValue <= 24) {
                            timeText = ". Chào mừng bạn, chúc bạn ngủ ngon và có giấc mơ đẹp!"
                        }
                        else if (hourValue >= 1 && hourValue < 5) {
                            timeText = ". Chúc bạn một ngày vui vẻ!"
                        }
                        document.write(dateText + "" + timeText + "")
                        
                    </script>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23E67C73&ctz=Asia%2FHo_Chi_Minh&showCalendars=1&mode=WEEK&src=d3d3LnBoYW10aGVodW5nQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb205MTZkNzBiNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21lMzA0ZWVlOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21iYzViNTlmYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZmFtaWx5MTI3MDg1NzUzODg3MjYyNTI3MjlAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y2xhc3Nyb29tMTAwNzM3OTY5OTczNTg1Mjg2ODUwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=dmkudmlldG5hbWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y2xhc3Nyb29tMTA0MTkxMzk3Mzg1NDk5NTgzNDM4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%23007b83&color=%23202124&color=%230047a8&color=%233F51B5&color=%237627bb&color=%230B8043&color=%230047a8" style="border:solid 1px #777" width="800" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->