@model HutechDriver.Models.EF.PriceTrip
@using HutechDriver.Models
@using HutechDriver.Common
@{
    ViewBag.Title = "HutechDriver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Distance and Route Finder</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- site metas -->

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link href="~/Content/Map/style123.css" rel="stylesheet" />


    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- style css -->
    <link href="~/Content/css/style1.css" rel="stylesheet" />

    <!-- Responsive-->

    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- fevicon -->

    <link href="~/Content/TimePicker/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TimePicker/css/style.css" rel="stylesheet" />
    <link href="~/Content/TimePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />



</head>
<body>



    <div class="contact_section layout_padding">
        <div class="container">
            <div class="col-12">
                <div class="contact_main">

                    <h1 class="request_text">Đặt xe</h1>

                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="text" id="origin-add" class="email-bt" placeholder="Chọn điểm đi" name="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="dest-add" class="email-bt" placeholder="Chọn điểm đến" name="Name">
                        </div>
                        <div class="input-group date" id="id_0">
                            <input type="text" value="" class="form-control" id="timepicker" placeholder="DD/MM/YYYY hh:mm:ss" required />
                        </div>

                    </form>
                    <form>
                        <div class="banner_text">
                            <div id="from_place"></div>
                        </div>
                        <div class="banner_text">

                            <div id="to_place" 4px 6px 0 0;"></div>
                        </div>
                        <div class="banner_text">

                            <div id="response_distance" 4px 6px 0 0;"></div>
                        </div>
                        <div class="banner_text">

                            <div id="response_time" style="padding: 0 6px 4px 0;"></div>
                        </div>

                        <div class="banner_text" ;>

                            <div id="result" style="padding-right: 6px;"></div>
                        </div>
                        <div class="banner_text" ;>
                            <div id="timebook"></div>
                        </div>
                    </form>
                    <div id="show-details-box">

                        @*<div class="details-fields-boxes">
                    <div class="details-fields-header" style=" padding: 4px 0 0 6px;">From:</div>
                    <div id="from_place" style="padding: 4px 6px 0 0;"></div>
                </div>*@


                        @*<div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">To:</div>
                    <div id="to_place" style="padding-right: 6px;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">Distance (in kms): </div>
                    <div id="response_distance" style="padding-right: 6px;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding: 0 0 4px 6px;">Travel time: </div>
                    <div id="response_time" style="padding: 0 6px 4px 0;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">Price: </div>
                    <div id="result" style="padding-right: 6px;"></div>
                </div>*@
                    </div>
                    <div id="no-route">
                        @*<div id="no-route-found">No Route Found!</div>
                <div id="search-again">Không tìm thấy địa chỉ yêu cầu,Hãy thử tìm kiếm lại các địa chỉ khác nhau.</div>*@
                        <img src="~/Content/assets/z4278591645887_59ca9b127b937fe5c6ca8bda4274f891.jpg" />
                    </div>
                    <button class="button button-xl button-primary button-winona" id="reloadtrang">Đặt Lại</button>

                    <button class="button button-xl button-primary button-winona" id="show-route-btn">Hiển thị quãng đường</button>



                    <div id="google-map"></div>

                    <button onclick="handleFormSubmit()" class="button button-xl button-primary button-winona" id="save-trip-btn">Đặt xe</button>
                    <div class="g-recaptcha" data-sitekey="6Lc2-gQmAAAAAIbh-DQ2dWPwOyPxLRUQSQkamnch"></div>

                </div>

                <input type="hidden" id="priceInput" value="@Model.Price">

                <input type="hidden" id="priceInputLow" value="@Model.PriceLow">

            </div>


            @*<div class="col-12">

                </div>*@
        </div>

    </div>



<script src="~/Scripts/Home/homemap.js"></script>

    <script>
        var encodedData = 'ICA8c2NyaXB0IHNyYz0iaHR0cHM6Ly9tYXBzLmdvb2dsZWFwaXMuY29tL21hcHMvYXBpL2pzP2tleT1BSXphU3lETTRSNFpRR21hQ2ozd0E0UjN5a29FcjRFZVFQSFN2UmMmbGlicmFyaWVzPXBsYWNlcyZjYWxsYmFjaz1pbml0TWFwIj48L3NjcmlwdD4K';
        document.write(decodeURIComponent(escape(window.atob(encodedData))));
    </script>
    <script type="text/javascript" src="https://cdn.fchat.vn/assets/embed/webchat.js?id=645a418fd8b3622747475bf6" async="async"></script><!--End of Fchat.vn-->
    <script src="~/Content/TimePicker/js/jquery.min.js"></script>

    <script src="~/Content/TimePicker/js/popper.js"></script>

    <script src="~/Content/TimePicker/js/bootstrap.min.js"></script>

    <script src="~/Content/TimePicker/js/moment-with-locales.min.js"></script>

    <script src="~/Content/TimePicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Content/TimePicker/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        var tripHub = $.connection.tripHub;
        var msg;
        tripHub.client.receiveMessage = function (message) {
            msg = message;
        };

        $.connection.hub.start()
            .done(function () {
                console.log('Kết nối thành công đến SignalR Hub.');
            })
            .fail(function (error) {
                console.log('Lỗi kết nối đến SignalR Hub: ' + error);
            });
    </script>
</body>


<style>
    .banner_text {
        text-align: left;
    }

    .button {
        margin: auto;
    }
</style>
<script>
    function handleFormSubmit() {
        grecaptcha.execute('6Lc2-gQmAAAAAIbh-DQ2dWPwOyPxLRUQSQkamnch', { action: 'homepage' }).then(function (token) {
            // Gửi token và các dữ liệu khác từ biểu mẫu đến máy chủ để xác thực
            // Xử lý logic tiếp theo sau khi xác thực thành công
        });
    }
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lc2-gQmAAAAAIbh-DQ2dWPwOyPxLRUQSQkamnch"></script>
